<br/>
<h3><mark>Create Account</mark></h3><br/><br/>

<div>
<form (submit)="createAccount(password)">
    <div class="form-group col-xs-4">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password">
    </div>

    <input type="submit" class="btn btn-primary" value="submit">
    <!-- <button style="margin:15px;" class="btn btn-danger" (click)="clear()">Cancel</button> -->
    <br/><br/>
  </form>

  <p>{{createdAccount}}{{StringP}}
    </p>
  </div>