
<br/>
<div class="container">
    <div *ngIf = "connection" >    
        <h3 class="text-muted">&nbsp;&nbsp;&nbsp;Disconnected from Local Network.......</h3> <br/>
        </div>
        <div *ngIf = "!connection" class="align-items-left">    
            <h3 class="text-muted">&nbsp;&nbsp;&nbsp;Connected to Local Network.......</h3> <br/>
            </div>
<div class="container">
<h3><mark>Create Account</mark></h3><br/><br/>
</div>
<div>
<form (submit)="createAccount(name,password)">
    <div class="form-group col-xs-4">

        <label>Name</label> 
      <input type="text" class="form-control" [(ngModel)]="name" disabled={{connection}} name="name">

      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" disabled={{connection}} name="password">

    </div>

    <input type="submit" class="btn btn-primary" disabled={{connection}} value="submit">
    <!-- <button style="margin:15px;" class="btn btn-danger" (click)="clear()">Cancel</button> -->
    <br/><br/>
  </form>

  <p>{{createdAccount}}{{StringP}}
    </p>
  </div>
  </div>