<br/>

<h3><mark>Transaction Details</mark></h3>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="h-100 row align-items-center">
  <table mat-table [dataSource]="dataSource" matSort>
    
  
    <!-- from Column -->
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
      <td mat-cell *matCellDef="let element"> <div style = "white-space:nowrap; width: 220px;overflow: hidden;text-overflow: ellipsis;"><a href="" data-toggle="modal" data-target="#myModal" (click)="localtransactionmodal(element.from)">{{element.from}}</a> </div></td>
    </ng-container>

    <!-- to Column -->
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> To </th>
      <td mat-cell *matCellDef="let element"><div style = "white-space:nowrap; width: 220px;overflow: hidden;text-overflow: ellipsis;"> {{element.to}} </div></td>
    </ng-container>
  
    <!-- ether Column -->
    <ng-container matColumnDef="ether">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ether </th>
      <td mat-cell *matCellDef="let element"> {{element.ether}} </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>



<!-- Modal -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Transaction Description</h4>
        </div>
        <div class="modal-body">
          <p><strong>From</strong>&nbsp;&nbsp;{{modalValues.from}}</p>
          <p><strong>To</strong>&nbsp;&nbsp;{{modalValues.to}}</p>
          <p><strong>Value</strong>&nbsp;&nbsp;{{modalValues.ether/1000000000000000000}}&nbsp;&nbsp;<strong>ethers.</strong></p>
          <p style = "font-size: 12px;"><strong style = "font-size: 18x;">Hash</strong>&nbsp;&nbsp;{{modalValues.hash}}</p>
          <p><strong>Time</strong>&nbsp;&nbsp;{{modalValues.time}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>