.mat-elevation-z8 {
    height: 400px;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
 /* mat-form-field{
      display: flex;
      justify-content: center;
  } */
  .inp{
    width: 89%;
}