<!-- <div class="container">
<form class = "form">
  <mat-form-field class = "form-field">
    <mat-select placeholder="Network" [(value)]="network">
      <mat-option class="form-control" value="rinkeby">Rinkeyby Test Network</mat-option>
      <mat-option class="form-control" value="ropsten">Ropsten Test Network</mat-option>
      <mat-option class="form-control" value="kovan">Kovan Test Network</mat-option>
      <mat-option class="form-control" value="local">LocalHost 8545</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class = "form-field">
      <input matInput name="Account Number" type="text" placeholder="Account Number"  [(ngModel)]="account" required >
      <mat-error>This field is required</mat-error>
  </mat-form-field>
</form>
<a [routerLink]="['balance']" [queryParams]="{account: account}" queryParamsHandling="merge" >
 balance
</a>
<button class="btn btn-primary" (click)="transaction(network,account)">Transaction</button>
<br />
<br/>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="./../../../assets/eth.png " style="height:25px;width:20px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" (click)="accdetailclick()">Account Details</a>
        </li> 
        <li class="nav-item"><a class="nav-link" (click)="transdetailclick()">Transactions List</a></li>
 
      </ul>
    </div>
  </nav>


<!-- <div class="sidenav"><br/><br />
    <a (click)="accdetailclick()">Account Details</a>
    <hr/>
    <a (click)="transdetailclick()">Transactions List</a>
    <hr/>
  </div> -->

  <h3 class="text-muted">&nbsp;&nbsp;&nbsp;Connected To {{network}} Network.......</h3> 

  <div class="container d-flex justify-content-center">
      <div *ngIf="accdet" class="container" >
          <h3><mark>Account Details </mark></h3><br/>

          <ul class="list-group list-group-flush">
              <li class="list-group-item"><h5>Account Address:</h5>{{account}}<br/><br/></li>
              <li class="list-group-item"><h5>Current Network:</h5>{{network}}<br/><br/></li>
              <li class="list-group-item"><h5>User Name:</h5>{{username}}<br/><br/></li>
              <li class="list-group-item"><h5>Account Balance:</h5>{{accountBalance}}</li>

            </ul>
      </div>
          <br/><br/>

          
      <div *ngIf="transdet"  class="container" > 
          <h3><mark>Transaction Details </mark></h3><br/> 
          <div class="col-sm-8"> 
          <input class="inp" type="text" [(ngModel)]="userFilter.hash" placeholder="Hash"> <br/>         
        </div>
          <table>
             <tr>                
                <th >Hash</th>
                <th>Status</th>
              </tr>  
              <tr *ngFor = "let a of result  | filterBy:userFilter | paginate: { itemsPerPage: 10, currentPage: p} ">              
                <td> <a href="" data-toggle="modal" data-target="#myModal" (click)="transData(a.hash)">{{a.hash}} </a></td>
                <td *ngIf = "a.txreceipt_status == 1">Success</td>
                <td *ngIf = "a.txreceipt_status != 1">Failed</td>
               
              </tr>
              <tr>
            </tr>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </table>
        </div>



<!--  -->
<!-- <div *ngIf ="transdet">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div  class="h-100 row align-items-center" >
      <table mat-table [dataSource]="dataSource" matSort>
        
       
        <ng-container matColumnDef="hash">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Hash </th>
          <td mat-cell *matCellDef="let element"><a href="" data-toggle="modal" data-target="#myModal" (click)="transData(element.hash)"> {{element.hash}}</a></td>
        </ng-container>
      
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
         <td mat-cell *matCellDef="let element" >{{element.txreceipt_status}}</td>
        </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[1, 10, 25, 100]"></mat-paginator>
  </div> -->
 <!--  -->


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Transaction Description</h4>
        </div>
        <div class="modal-body">
          <p><strong>From</strong>&nbsp;&nbsp;{{modalValues.from}}</p>
          <p><strong>To</strong>&nbsp;&nbsp;{{modalValues.to}}</p>
          <p><strong>Value</strong>&nbsp;&nbsp;{{modalValues.value/1000000000000000000}}&nbsp;&nbsp;<strong>ethers.</strong></p>
            <div *ngIf = "modalValues.txreceipt_status == 1"><strong>Status</strong>&nbsp;&nbsp;Success</div>
              <div *ngIf = "modalValues.txreceipt_status != 1"><strong>Status</strong>&nbsp;&nbsp;Failed</div>
          <p><strong>Time</strong>&nbsp;&nbsp;{{dateString}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  