/* button.btn.collapse-btn {
    margin-top:20px;
}

/* .table-row{
    padding-right: 30px;
} */





table,tr,th,td{
    /* border:1px solid #dddddd; */
    border-collapse:collapse;
  }
  .tbl-header{
    width:calc(100% - 17px);
    width:-webkit-calc(100% - 17px);
    width:-moz-calc(100% - 17px);
  } */
  .modal-title{
      text-align: right;
  }

