<br/>

<div class="container">
  <div >
    <div *ngIf = "connection" class="align-items-left">    
        <h3 class="text-muted">&nbsp;&nbsp;&nbsp;Disconnected from Local Network.......</h3> <br/>
        </div>
        <div *ngIf = "!connection" class="align-items-left">    
            <h3 class="text-muted">&nbsp;&nbsp;&nbsp;Connected to Local Network.......</h3> <br/>
            </div>

          </div>
<div class="container">
<h3><mark>Balance</mark></h3><br/><br/>
</div>
<form (submit)="getLocalBalance(address)" >
    <div class="form-group  col-xs-4">
      <label>Name</label>
      <input type="text" class="form-control" disabled={{connection}} [(ngModel)]="address"  name="address">
    </div>
    <div *ngIf="!connection">
    <input type="submit" class="btn btn-primary" value="submit">
  </div>
    <!-- <button style="margin:15px;" class="btn btn-danger" (click)="clear()">Cancel</button> -->
    <br/><br/>
  </form>

 
  </div>
  <div *ngIf = "bol"><br/>Balance of User:<strong>{{loc.address}} </strong> is<br /> {{Balance}}</div>