<!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Local Network</button>
  <div id="demo1" class="collapse"> -->



      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="./../../../assets/eth.png " style="height:25px;width:20px;">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['locallistaccount']">List Accounts</a>
              </li> 
              <li class="nav-item"><a class="nav-link" [routerLink]="['localcreateaccount']">Create Account</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['localbalance']">Balance</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['localsendtrans']">Send Transaction</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['localpendingtrans']">Pending Transaction</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['localtranslist']">Transaction List</a></li>
            </ul>
          </div>
        </nav>


   

    <div class="row">
    <div class="col-lg-5">
<!-- <button class="btn btn-primary col-lg-5" [routerLink]="['locallistaccount']">list Accounts</button>

<button class="btn btn-primary col-lg-5" [routerLink]="['localcreateaccount']">Create Account</button>


<button class="btn btn-primary col-lg-5" [routerLink]="['localbalance']" >Balance</button>


  <button class="btn btn-primary col-lg-5" [routerLink]="['localsendtrans']" >Send Transaction</button>
  

    <button class="btn btn-primary col-lg-5" [routerLink]="['localpendingtrans']" >Pending Transaction</button>

    <button class="btn btn-primary col-lg-5" [routerLink]="['localtranslist']" >Transaction</button> -->

    <!-- <button class="btn btn-primary col-lg-5" (click)="pushClick()" >push account</button> -->
 
 





<!-- printing starts from here -->

  <form *ngIf = "pushclicked"(submit)="dbpush(localAccountNumber, password)">
    <div class="form-group col-lg-7">
        <label>Account</label>
        <input type="text" class="form-control" [(ngModel)]="localAccountNumber" name="localAccountNumber">
    
    <label>Passphrase</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password">
  </div>
  <input type="submit" class="btn btn-primary" value="submit">
  <button style="margin:15px;" class="btn btn-danger" (click)="clear()">Cancel</button>
  <br/><br/>
</form>

</div>

<!-- <div class="col-lg-7"> -->
    <div class=" row align-items-center">

        <router-outlet></router-outlet>     
    </div>
    <!-- <div class="tbl-header">
        <table class="table">
            <thead>
              <tr>
                <th>hash</th>
                <th>amount</th>
                <th>date</th>
              </tr>
            </thead>
          </table>
          </div>
          <div style="overflow:auto; max-height:390px;">
            <table>
            <tbody *ngFor = "let a of localtransactionlist">
              <tr style = "font-size: 15px;">
                <td><br/>
                  </td>
                <td > <div style = "white-space:nowrap; width: 180px;overflow: hidden;text-overflow: ellipsis;"><a href="" data-toggle="modal" data-target="#myModal" (click)="localtransactionmodal(a.hash)">{{a.hash}}</a></div> </td>
                <td> <div style = "white-space:nowrap; width: 100px;overflow: hidden;text-overflow: ellipsis;">{{a.ether}}</div> </td>
                <td> <div style = "white-space:nowrap; width: 210px;overflow: hidden;text-overflow: ellipsis;">{{a.time}}</div> </td>
              </tr>
              <tr>
            </tr>
          </tbody>
          </table>
        </div> -->

        
       
</div>
<!-- </div> -->

